<app-info-card
[showHeader]="true"
title="Sobre mí"
description="Soy estudiante de Ingeniería de Software en la Universidad Peruana de Ciencias Aplicadas (UPC). Vivo en Lima, Perú.
Actualmente busco realizar mis prácticas preprofesionales en el área de desarrollo web, donde pueda aplicar mis conocimientos, adquirir nuevas experiencias y seguir creciendo como profesional. He participado en diversos proyectos académicos enfocados en el desarrollo web Full Stack, trabajando en equipo para diseñar y construir soluciones funcionales y escalables."
>
</app-info-card>